@{
    ViewBag.Title = "index";
}

@Styles.Render("~/Content/site.css");
<div class="estilo">

    <div>

        <img src="~/Content/cade.jpg" width="50%" height="200" style="align-self: center" />
        <h1>Cade meu médico</h1>
        <p class="lead"></p>
        <p><a href="http://localhost:50744/Medicos/Create" class="btn btn-primary btn-lg">Cadastrar médico</a></p>


    </div>


</div>